body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3411d1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  #remember{
    margin-top:8px;
  }
  .sub-log{
    margin-top: 45px;
  }
  
  .login-form, .signup-form {
    width: 100%;
    max-width: 300px;
  }
  .login-form{
    margin-top: 35px
  }
  
  h2 {
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }